.foot{
    width: 100%;    //Ocupe todo el ancho de la página
    height: 100px;
    background-color: grey;
    color: white;
    /*bottom: 0px;       Para tenerlo pegado abajo*/
    

    .titlefoot{
        background-color: grey;
        color: white;
        /*bottom: 0px;       Para tenerlo pegado abajo*/
        display: flex;  //Activamos el flex para poder dar estilos de flex
        justify-content: center;      //alineamos al centro
    
    }

    .fas{
        margin-right: 6px ;
      }

    .add{
  text-decoration: none;
  color: white;
  margin-left: 380px;
  cursor: pointer;
    }  

    .btn-logout{
      cursor: pointer;
    }
}