<div class="total">
  <div class="search">
    <div class="search-selector">
      <div class="search-type">
        <mat-form-field class="que_busc">
          <mat-label class="que_bus">¿Qué busca?</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="comprar">Comprar</mat-option>
            <mat-option value="alquilar">Alquilar</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-house">
        <mat-form-field class="tipo_inm">
          <mat-label class="tipo_in">Tipo inmueble</mat-label>
          <mat-select [formControl]="InmuebleControl">
            <mat-optgroup
              *ngFor="let group of InmuebleGroups"
              [label]="group.name"
            >
              <mat-option
                *ngFor="let Inmueble of group.Inmueble"
                [value]="Inmueble.value"
              >
                {{ Inmueble.viewValue }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-province">
        <mat-form-field class="provin">
          <mat-label class="prov">Provincia</mat-label>
          <mat-select [(value)]="selected1">
            <mat-option value="cadiz">Cádiz</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-population">
        <mat-form-field class="popula">
          <mat-label class="popul">Población</mat-label>
          <mat-select [(value)]="selected2">
            <mat-option value="cadiz">Cádiz</mat-option>
            <mat-option value="conil">Conil de la Frontera</mat-option>
            <mat-option value="">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button class="btn-search" mat-raised-button>
        <span>Encuéntralo </span>
      </button>
    </div>
  </div>

  <div class="TotalCard">

    <p class="featured-title">DESTACADOS</p>

    <div class="featured-container">
    
        <!-- ITALIA -->
        <mat-card class="customcard">
          <img
            mat-card-image
            src="assets\salon.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
           
            <mat-card-subtitle>Dog Breed</mat-card-subtitle> 
          </mat-card-header>
          <mat-card-content>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="price" mat-raised-button (click)="mostrar1 = !mostrar1">PRECIO</button>
          </mat-card-actions>
          <div class="precio" *ngIf="mostrar1">{{ 220 | currency: "EUR" }}</div>
        </mat-card>

       

        <!-- ESPAÑA -->
        <mat-card class="customcard">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ "España" | uppercase }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\salon.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="price" mat-raised-button (click)="mostrar2 = !mostrar2">PRECIO</button>
          </mat-card-actions>
          <div class="precio" *ngIf="mostrar2">{{ 150 | currency: "EUR" }}</div>
        </mat-card>

        <!-- GRECIA -->
        <mat-card class="customcard">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ "grecia" | uppercase }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\salon.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="price" mat-raised-button (click)="mostrar3 = !mostrar3">PRECIO</button>
          </mat-card-actions>
          <div class="precio" *ngIf="mostrar3">{{ 330 | currency: "EUR" }}</div>
        </mat-card>
      </div>

    <hr class="line">

    <div class="news-container">
      
    <div class="featured-title"><p>NOVEDADES</p></div>

   
        <!-- ITALIA -->
        <mat-card class="customcard">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ "Italia" | uppercase }}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <img
            mat-card-image
            src="assets\salon.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="price" mat-raised-button (click)="mostrar1 = !mostrar1">PRECIO</button>
          </mat-card-actions>
          <div class="precio" *ngIf="mostrar1">{{ 220 | currency: "EUR" }}</div>
        </mat-card>

        

        <!-- ESPAÑA -->
        <mat-card class="customcard">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ "España" | uppercase }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\salon.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="price" mat-raised-button (click)="mostrar2 = !mostrar2">PRECIO</button>
          </mat-card-actions>
          <div class="precio" *ngIf="mostrar2">{{ 150 | currency: "EUR" }}</div>
        </mat-card>

        <!-- GRECIA -->
        <mat-card class="customcard">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ "grecia" | uppercase }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="assets\salon.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="price" mat-raised-button (click)="mostrar3 = !mostrar3">PRECIO</button>
          </mat-card-actions>
          <div class="precio" *ngIf="mostrar3">{{ 330 | currency: "EUR" }}</div>
        </mat-card>
      </div>
  </div>
</div>
