<div class="total">
  <div class="search">
    <div class="search-selector">
      <div class="search-type">
        <mat-form-field class="que_busc">
          <mat-label class="que_bus">¿Qué busca?</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="comprar">Comprar</mat-option>
            <mat-option value="alquilar">Alquilar</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-house">
        <mat-form-field class="tipo_inm">
          <mat-label class="tipo_in">Tipo inmueble</mat-label>
          <mat-select [formControl]="InmuebleControl">
            <mat-optgroup
              *ngFor="let group of InmuebleGroups"
              [label]="group.name"
            >
              <mat-option
                *ngFor="let Inmueble of group.Inmueble"
                [value]="Inmueble.value"
              >
                {{ Inmueble.viewValue }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-province">
        <mat-form-field class="provin">
          <mat-label class="prov">Provincia</mat-label>
          <mat-select [(value)]="selected1">
            <mat-option value="cadiz">Cádiz</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-population">
        <mat-form-field class="popula">
          <mat-label class="popul">Población</mat-label>
          <mat-select [(value)]="selected2">
            <mat-option value="cadiz">Cádiz</mat-option>
            <mat-option value="conil">Conil de la Frontera</mat-option>
            <mat-option value="">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
            <mat-option value="Cádiz">Cádiz</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button class="btn-search" mat-raised-button>
        <span>Encuéntralo </span>
      </button>
    </div>
  </div>

  <div class="TotalCard">
    <p class="featured-title">DESTACADOS</p>

    <div class="featured-container">
      <!-- IZQUIERDA -->
      <mat-card class="customcard">
        <img
          mat-card-image
          class="imagee"
          src="assets\salon.jpg"
          alt="Photo of a hose"
        />
        <mat-card-header class="matheader">
          <mat-card-subtitle class="subtitle"
            >Hacienda Santa Ana en Urbanización Roche</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <p class="subp">España, Cádiz, Conil, Urbanización Roche</p>
        </mat-card-content>
        <hr />
        <div class="iconscard">
          <img
            class="bed"
            src="assets\bed.svg"
            title="Dormitorios"
            alt="Bedroom-icon"
          />
          <span class="iconNum">4</span>
          <img
            class="bath"
            src="assets\bathroom.svg"
            title="Baños"
            alt="Bathroom-icon"
          />
          <span class="iconNum">2</span>
          <img
            class="meters"
            src="assets\area.svg"
            title="Metros"
            alt="Meters-icon"
          />
          <span class="iconNum">854m²</span>
        </div>
        <div class="price">
          <p class="pricep">Precio</p>
          <p class="priceNum">245.000€</p>
        </div>
      </mat-card>

      <!-- CENTRO -->
      <mat-card class="customcard">
        <img
          mat-card-image
          class="imagee"
          src="assets\salon.jpg"
          alt="Photo of a hose"
        />
        <mat-card-header class="matheader">
          <mat-card-subtitle class="subtitle"
            >Hacienda Santa Ana en Urbanización Roche</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <p class="subp">España, Cádiz, Conil, Urbanización Roche</p>
        </mat-card-content>
        <hr />
        <div class="iconscard">
          <img
            class="bed"
            src="assets\bed.svg"
            title="Dormitorios"
            alt="Bedroom-icon"
          />
          <span class="iconNum">4</span>
          <img
            class="bath"
            src="assets\bathroom.svg"
            title="Baños"
            alt="Bathroom-icon"
          />
          <span class="iconNum">2</span>
          <img
            class="meters"
            src="assets\area.svg"
            title="Metros"
            alt="Meters-icon"
          />
          <span class="iconNum">854m²</span>
        </div>
        <div class="price">
          <p class="pricep">Precio</p>
          <p class="priceNum">245.000€</p>
        </div>
      </mat-card>

      <!-- DERECHA -->
      <mat-card class="customcard">
        <img
          mat-card-image
          class="imagee"
          src="assets\salon.jpg"
          alt="Photo of a hose"
        />
        <mat-card-header class="matheader">
          <mat-card-subtitle class="subtitle"
            >Hacienda Santa Ana en Urbanización Roche</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <p class="subp">España, Cádiz, Conil, Urbanización Roche</p>
        </mat-card-content>
        <hr />
        <div class="iconscard">
          <img
            class="bed"
            src="assets\bed.svg"
            title="Dormitorios"
            alt="Bedroom-icon"
          />
          <span class="iconNum">4</span>
          <img
            class="bath"
            src="assets\bathroom.svg"
            title="Baños"
            alt="Bathroom-icon"
          />
          <span class="iconNum">2</span>
          <img
            class="meters"
            src="assets\area.svg"
            title="Metros"
            alt="Meters-icon"
          />
          <span class="iconNum">854m²</span>
        </div>
        <div class="price">
          <p class="pricep">Precio</p>
          <p class="priceNum">245.000€</p>
        </div>
      </mat-card>

      <hr class="line" />

      <div class="news-container">
        <div class="news-title"><p>NOVEDADES</p></div>

        <!-- IZQUIERDA -->
        <mat-card class="customcard">
          <img
            mat-card-image
            class="imagee"
            src="assets\salon.jpg"
            alt="Photo of a hose"
          />
          <mat-card-header class="matheader">
            <mat-card-subtitle class="subtitle"
              >Hacienda Santa Ana en Urbanización Roche</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <p class="subp">España, Cádiz, Conil, Urbanización Roche</p>
          </mat-card-content>
          <hr />
          <div class="iconscard">
            <img
              class="bed"
              src="assets\bed.svg"
              title="Dormitorios"
              alt="Bedroom-icon"
            />
            <span class="iconNum">4</span>
            <img
              class="bath"
              src="assets\bathroom.svg"
              title="Baños"
              alt="Bathroom-icon"
            />
            <span class="iconNum">2</span>
            <img
              class="meters"
              src="assets\area.svg"
              title="Metros"
              alt="Meters-icon"
            />
            <span class="iconNum">854m²</span>
          </div>
          <div class="price">
            <p class="pricep">Precio</p>
            <p class="priceNum">245.000€</p>
          </div>
        </mat-card>

        <!-- CENTRO -->
        <mat-card class="customcard">
          <img
            mat-card-image
            class="imagee"
            src="assets\salon.jpg"
            alt="Photo of a hose"
          />
          <mat-card-header class="matheader">
            <mat-card-subtitle class="subtitle"
              >Hacienda Santa Ana en Urbanización Roche</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <p class="subp">España, Cádiz, Conil, Urbanización Roche</p>
          </mat-card-content>
          <hr />
          <div class="iconscard">
            <img
              class="bed"
              src="assets\bed.svg"
              title="Dormitorios"
              alt="Bedroom-icon"
            />
            <span class="iconNum">4</span>
            <img
              class="bath"
              src="assets\bathroom.svg"
              title="Baños"
              alt="Bathroom-icon"
            />
            <span class="iconNum">2</span>
            <img
              class="meters"
              src="assets\area.svg"
              title="Metros"
              alt="Meters-icon"
            />
            <span class="iconNum">854m²</span>
          </div>
          <div class="price">
            <p class="pricep">Precio</p>
            <p class="priceNum">245.000€</p>
          </div>
        </mat-card>

        <!-- DERECHA -->
        <mat-card class="customcard">
          <img
            mat-card-image
            class="imagee"
            src="assets\salon.jpg"
            alt="Photo of a hose"
          />
          <mat-card-header class="matheader">
            <mat-card-subtitle class="subtitle"
              >Hacienda Santa Ana en Urbanización Roche</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <p class="subp">España, Cádiz, Conil, Urbanización Roche</p>
          </mat-card-content>
          <hr />
          <div class="iconscard">
            <img
              class="bed"
              src="assets\bed.svg"
              title="Dormitorios"
              alt="Bedroom-icon"
            />
            <span class="iconNum">4</span>
            <img
              class="bath"
              src="assets\bathroom.svg"
              title="Baños"
              alt="Bathroom-icon"
            />
            <span class="iconNum">2</span>
            <img
              class="meters"
              src="assets\area.svg"
              title="Metros"
              alt="Meters-icon"
            />
            <span class="iconNum">854m²</span>
          </div>
          <div class="price">
            <p class="pricep">Precio</p>
            <p class="priceNum">245.000€</p>
          </div>
        </mat-card>

      </div>

    </div>

  </div>
  
</div>
