<div class="cabecera">
    <input type="checkbox" id="btn-menu" />
    <label class="label" for="btn-menu">
        <img class="hamburger" src="assets\open-menu.svg" title="hamburges" alt="Hamburger-icon" /></label>

    <nav class="menu">
        <ul>
            <img class="imagenCabecera" routerLink="/" src="\assets\toro.png" />
            <li>
                <a routerLink="/tasks"><i class="fas fa-home"></i>Ver todas</a>
            </li>
        

            <div class="contact-container">
                <li>
                    <a (click)="mostrar = !mostrar" class="btn-contact"><i
                            class="fas fa-info-circle"></i>Información</a>
                </li>
                <div [ngClass]="{ hide: mostrar }" class="contact-info">
                    <p class="cont-nombre">Agente: {{ contacto.nombre }}</p>
                    <p class="cont-telefono">Teléfono: {{ contacto.telefono }}</p>
                    <p class="cont-correo">Correo: {{ contacto.correo }}</p>
                    <p class="cont-direccion">Dirección: {{ contacto.direccion }}</p>
                </div>
            </div>
        </ul>
    </nav>
</div>