
<div class="TotalCard">

    <div class="featured-container">
      <!-- IZQUIERDA -->
     <app-housecard  [house]= 'myhouse'></app-housecard>

      <!-- CENTRO -->
      <app-housecard [house]= 'myhouse'></app-housecard>

      <!-- DERECHA -->
      <app-housecard [house]= 'myhouse'></app-housecard>

        <!-- IZQUIERDA -->
     <app-housecard [house]= 'myhouse'></app-housecard>

     <!-- CENTRO -->
     <app-housecard [house]= 'myhouse'></app-housecard>

     <!-- DERECHA -->
     <app-housecard [house]= 'myhouse'></app-housecard>
       <!-- IZQUIERDA -->
       <app-housecard [house]= 'myhouse'></app-housecard>

       <!-- CENTRO -->
       <app-housecard [house]= 'myhouse'></app-housecard>
 
       <!-- DERECHA -->
       <app-housecard [house]= 'myhouse'></app-housecard>
         <!-- IZQUIERDA -->
     <app-housecard [house]= 'myhouse'></app-housecard>

     <!-- CENTRO -->
     <app-housecard [house]= 'myhouse'></app-housecard>

     <!-- DERECHA -->
     <app-housecard [house]= 'myhouse'></app-housecard>
       <!-- IZQUIERDA -->
       <app-housecard  [house]= 'myhouse'></app-housecard>

       <!-- CENTRO -->
       <app-housecard [house]= 'myhouse'></app-housecard>
 
       <!-- DERECHA -->
       <app-housecard [house]= 'myhouse'></app-housecard>
         <!-- IZQUIERDA -->
     <app-housecard [house]= 'myhouse'></app-housecard>

     <!-- CENTRO -->
     <app-housecard [house]= 'myhouse'></app-housecard>

     <!-- DERECHA -->
     <app-housecard [house]= 'myhouse'></app-housecard>
       <!-- IZQUIERDA -->
       <app-housecard [house]= 'myhouse'></app-housecard>

       <!-- CENTRO -->
       <app-housecard [house]= 'myhouse'></app-housecard>
 
       <!-- DERECHA -->
       <app-housecard [house]= 'myhouse'></app-housecard>
    </div>
</div>